#task-filters {
  margin: 1.5em 0;
  padding: 0;
}

#task-filters select {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 100px;
}

#task-filters input[type="text"] {
  margin-left: 0.5em;
  width: 150px;
}

#task-filters .error {
  color: red;
}

#page-table th:not([data-disabled-sort]) {
  cursor: pointer;
}

#page-table .controls {
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  white-space: nowrap;
}

#page-table .controls .range {
  flex-grow: 10;
  text-align: right;
}

#page-table .controls select {
  width: 5em;
}

#page-table .page-size-selector {
  margin-left: 3em;
}

.pagination {
  margin: 0 !important;
  padding: 0;
}

.pagination li {
  display: inline;
  margin-left: 0.3em;
}

.pagination li.prev {
  margin-right: 0.5em;
}

.pagination li.next {
  margin-left: 0.5em;
}

.pagination a,
.pagination span {
  border-radius: 3px;
  padding: 0.35em 0.6em;
}

.pagination a {
  border: 1px solid #006699;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #006699;
  color: white;
}

.pagination span {
  border: 1px solid #aaa;
  color: #aaa;
}

.pagination .separator {
  margin: 0 0.5em;
}

@media only screen and (max-width: 1300px) {
  #page-table .controls .range {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  #page-table .page-size-selector {
    display: none;
  }
}
